/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

/* CSS Variables */
:root{
    --navbar-height:59px;
}

/* Navigation Bar  */
#navbar{
    display: flex;
    align-items: center;
}

/* Navigation Bar: LOGO and Image */
#logo{
    margin: 34px 40px;
    
}

#logo img{
    height: 60px;
    margin: 34px 40px;

}
/* Navigation Bar: List Styling */


